.archive {
    .box {
        position: relative;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .count {
        position: absolute;
        right: 5px;
        bottom: 30px;
        font-size: 12px;
        top: 150px;
        color: #fff;
    }

    .title {
        margin-top: 5px;
    }
}
