//
// Variables
// --------------------------------------------------


// Type
// --------------------------------------------------
$font-color-default: #5e5e5d !default;
/*$background-color-default: #f2f2f2 !default;*/

$background-color-default: #f2f2f2 !default;
$font-family-default: 'PT Serif', serif !default;
$font-size-default: 16px !default;
$wrap-width: 800px !default;

$font-title: 33px !default;
$block-margin-bottom: 48px !default;

// Colors
// --------------------------------------------------
$chrome-color: #fff !default;
$negative-active-color: #333332 !default;
$negative-color: #9b9b9b !default;

// Borders
// --------------------------------------------------
$negative-active-border: 4px solid #5e5e5d !default;
$negative-border: 4px solid #9b9b9b !default;

// Navbar 
// --------------------------------------------------

$nav-base-height: 100px !default;
$nav-avatar-size: 80px !default;
$nav-side-space: 40px !default;


// Table-view 
// --------------------------------------------------

$table-view-size: 190px !default;

// Footer
// --------------------------------------------------

$social-icon-size: 90px !default;
