
<div class="footer">
  <ul class="social">
    <li class="github fl"><a href="#"></a></li>
    <li class="v2ex fl"><a href="#"></a></li>
    <li class="cnode fl"><a href="#"></a></li>
  </ul>

  <p>© 2014 youyudehexie 粤ICP备1302530</p>
</div>
