
<div class="navbar">
  <a href="/">
    <img class="avatar fl" src="/img/avatar.jpg" />
  </a>
  <div>
    <li>
      <a href="/profile">Profile</a>
    </li>

    <li>
      <a href="/archive">Archive</a>
    </li>

    <li>
      <a class="active" href="/">Home</a>
    </li>
  </div>
</div>
