<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <% include header %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <% include navbar %>
        <div class="wrap">
          <div class="timeline">
            <% articles.forEach(function (article) { %>
              <div class="timeline-section">
                <div class="left-direction"></div>
                <div class="point"> </div>
                <p class="date timeline-date"><%= article.created_at %></p>
                <div class="timeline-content">
                  <h4>
                    <a href="/article"><%= article.title %></a>
                  </h4>
                  <p class="summary"><%= article.summary %></p>
                </div>
              </div>
            <% })%>
          </div>
        </div>
        <% include footer %>

    </body>
</html>
